* {
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section *[class^="col-"],
header *[class^="col-"]{
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f3e5e5;
    min-width: 640px;
    max-width: 1600px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn:focus{
    outline-color: #FEC7C0 !important;
}

header {
    width: 100%;
    max-width: 1600px;
    background-color: #FEC7C0;
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    z-index: 100;
}

.header__div--info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.2rem solid #FFD5AC;
    color: aliceblue;
}

.header_btn_cart,
.header_btn_login,
.header_btn_question {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
}

.header_btn_login_icon,
.header_btn_question_icon,
.header_btn_cart_icon{
    color: white;
}

.rounded-circle {
    width: 150px;
}

.header__div--search {
    margin-top: 5rem;
}

.header__div--search .btn{
    border: none;
    background-color: #5B3B30;
}

.header_search_icon{
    font-size: 1.3rem;
    color: white;
}

.header_search_icon:hover
{
    cursor: pointer;
    color: black !important;
}

.header__div--btn {
    margin: 0 2rem;
    display: flex;
    flex-direction: row-reverse;
}

.header_btn_cart:hover,
.header_btn_question:hover,
.header_btn_login:hover{
    color: black;
}

#header__div--nav> div {
    border-bottom: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #5B3B30;
}

#header__div--nav .nav{
    margin-top: 1rem;
    margin-left: 1rem;
}

#header__div--nav .nav-link {
    position: relative;
    color: white;
    text-decoration: none;
}

#header__div--nav .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 5px; /* Chiều cao của gạch */
    background-color: #FEC7C0; /* Màu của gạch */
    transition: width 0.3s ease, left 0.3s ease; /* Hiệu ứng chuyển động */
    transform: translateX(0%);
}

#header__div--nav .nav-link:hover {
    color: #FEC7C0;
}

#header__div--nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

.header__div--nav{
    background-color: #5B3B30;
    border: none;
}

.modal-body .row,
.modal-body .form-group{
    margin-bottom: 1rem;
}

#basic-addon1{
    border: none;
}

.modal-header .nav-link.active {
    color: #FEC7C0 !important; 
    border: none !important; /* Bỏ viền */
    border-bottom: 2px solid #FEC7C0 !important; 
}

.modal-header .nav-link:not(.active) {
    color: black !important; /* Màu chữ đen */
    border: none !important; /* Bỏ viền */
}

.modal-body{
    padding-top: 0;
}

.modal-body #login span,
.modal-body #question span{
    font-family: 'Dancing Script', cursive;
    color: rgb(54, 50, 50);
    font-size: 20px;
}

.modal-body #login a{
    text-decoration: none;
    color: rgb(42, 38, 38);
}

.modal-body #login a:hover{
    color: #FEC7C0;
}

.modal-body button{
    background-color: #FEC7C0;
    color:white
}

.modal-body button:hover{
    color: black;
    background-color: #FFD5AC;
}

.modal-body #register a{
    text-decoration: none;
    color: #FEC7C0;
}

.nav-link {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.nav-link:hover {
    color: black;
}

.nav-link:focus {
    color: black;
}

.section__banner__div--left{
    width: 90%;
    background-color: #f3e5e5;;
}

.section__banner__div--left__title{
    background-color: #FFD5AC;
    padding: 1.5rem 0 1.5rem 1rem;
    border-radius: 0.4rem;
    color: white;
}

.section__banner__div--left__title:hover {
    cursor: pointer;
}

.section__banner__div--left__list {
    display: block;
    z-index: 99;
    background-color: white;
}

.section__banner__div--left__title.active + .section__banner__div--left__list {
    display: block;
}
.section__banner__div--left__list ul li{
    list-style: none;
    padding: 0.5rem;
    border-bottom: 1px solid #FFD5AC;
}

.section__banner__div--left__list ul li a {
    color: rgb(67, 60, 60);
    text-decoration: none;
}

/* Tạo transition để hiệu ứng mượt mà */
.section__banner__div--left__list  ul  li  a{
    transition: transform 0.3s ease; /* Thời gian và kiểu chuyển động */
    position: relative; /* Thiết lập phần tử có vị trí tương đối */
    color: inherit; /* Kế thừa màu chữ từ phần tử cha */
}

/* Scale khi hover */
.section__banner__div--left__list  ul  li  a:hover{
  transform: scale(1.1); /* Phóng to 110% */
  color: #FFD5AC;
}
  
  /* Tạo hiệu ứng gạch dưới khi hover */
.section__banner__div--left__list ul li a::after {
    content: ''; /* Nội dung của phần tử giả mạo */
    position: absolute; /* Thiết lập vị trí tuyệt đối */
    left: 50%; /* Đặt ở giữa */
    bottom: 0; /* Đặt ở dưới cùng */
    width: 0; /* Bắt đầu với chiều rộng 0 */
    height: 8px; /* Chiều cao của gạch */
    background-color: #FFD5AC; /* Màu của gạch */
    transition: width 0.3s ease, left 0.3s ease; /* Hiệu ứng chuyển động */
    transform: translateX(0%); /* Dịch chuyển về giữa */
}
  
  /* Hiển thị hiệu ứng gạch dưới khi hover */
.section__banner__div--left__list ul li a:hover::after {
    width: 50%; /* Mở rộng chiều rộng của gạch */
    left: 0; /* Di chuyển sang trái để lan rộng từ giữa ra hai bên */
}

.sub-menu{
    background-color: white;
    border-radius: 0.4rem;
    width: 100%;
}

.sub-menu li{
    margin-left: 1rem;
}

#animals-submenu{
    z-index: 100;
}

.section__banner__div--left__list ul li {
    padding: 0.5rem;
    border-bottom: 1px solid #FFD5AC;
}

.section__banner__div--left__list ul li a {
    color: rgb(67, 60, 60);
    text-decoration: none;
}

.section__banner__div--left__list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section__banner__div--left__list .nav-item {
    position: relative; /* Đặt vị trí tương đối để submenu có thể đặt vị trí tuyệt đối trong nó */
}

.section__banner__div--left__list #animals-submenu,
.section__banner__div--left__list #animals-dog-submenu,
.section__banner__div--left__list #animals-cat-submenu,
.section__banner__div--left__list #animals-nhim-submenu,
.section__banner__div--left__list #animals-hamster-submenu {
    display: none;
    padding-left: 15px;
    position: absolute;
    top: 20%;
    left: 100%; /* Hiển thị submenu bên phải của .nav-item */
}

.section__banner__div--left__list li:nth-child(1):hover #animals-submenu 
{
    display: block;
}

.section__banner__div--left__list #animals-submenu li:nth-child(1):hover #animals-dog-submenu,
.section__banner__div--left__list #animals-submenu li:nth-child(2):hover #animals-cat-submenu, 
.section__banner__div--left__list #animals-submenu li:nth-child(3):hover #animals-nhim-submenu, 
.section__banner__div--left__list #animals-submenu li:nth-child(4):hover #animals-hamster-submenu
{
    display: block;
}

.section__banner{
    margin-top: 300px;
}

.section__info{
    margin-top: 100px;
}

.section__info i{
    font-size: 4.5rem;
}

.section__animals{
    margin-top: 8%;
    background-color: white;
}

.section__animals .btn{
    background-color: #FEC7C0;
    color: white;
}

.section__animals .btn:hover{
    background-color: #FFD5AC;
    color: black;
}

.section__animals .card{
    margin: 0 0.5rem;
}

.section__animals .card-title,
.section__animals .card-text,
.section__animals .card-link{
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.section__animals--header{
    border-bottom: 0.2rem solid #FFD5AC;
    margin-bottom: 0.5rem;
}

.section__animals--header__link{
    text-decoration: none;
    color: black;
    background-color: #FFD5AC;
    border: 1px solid #FFD5AC;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.6rem 0.4rem 0.7rem 0.4rem;
}

.section__animals--footer{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.section__animals--footer__link{
    text-decoration: none;
}

.footer{
    background-color: #FEC7C0;
    border-top: 1px solid #dfdfdf;
    padding: 40px 0 0 0;
    line-height: 24px;
}

.footer-top{
    border-top: 1px solid #5B3B30;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #5B3B30;
}

.footer-bottom{
    padding-top: 1rem;
}

.footer-top p:nth-child(1),
.footer-top p:nth-child(5),
.footer-bottom p:nth-child(1) {
    font-weight: 600;
}

.footer-top .footer-top_link{
    text-decoration: none;
    color: black;
}

.footer-top .footer-top_link:hover{
    color: white;
}

.footer-bottom .col-6:nth-child(2){
    text-align: end;
}

.footer-bottom .row:nth-child(2){
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
}
